{% extends 'base.html.twig' %}

{% block title %}La monture{% endblock %}

{% block body %}

<figure class="glasses-card">
    <img class="image-glasses" src="{{  glass.image }}" alt="Photo de la monture"/>
    <figcaption class="glasses-description">
        <div class="brand-glasses">{{ glass.brand|upper }}</div>
        <div class="glasses-namecard-content-up">{{ glass.name|capitalize }}
        </div>
        <div class="card-border card-content-up cardcontent">
            <div class="glasses-color card-content-up">couleur : {{ glass.color }}
            </div>
            <div class="shape card-content-up">forme : {{ glass.shape }}
            </div>
            <div class="glasses-size"> taille : {{ glass.size}}</div>
            <div class="glasses-price">{{ glass.price }}€

            {% if is_granted("ROLE_USER") %}
            <a id="wearlist" href="{{ path('glasses_wearlist', {id: glass.id})}}">
                 <i class="bi {{ app.user.isInWearlist(glass) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>

         {% endif %}
            </div>
        </div>
    </figcaption>
</figure>

    <a href="{{ path('home') }}">Retour</a>


{% endblock %}
