{% extends 'base.html.twig' %}

{% block title %}Glasses{% endblock %}

{% block body %}
    <h1>Glasses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ glass.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ glass.brand }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ glass.name }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ glass.color }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ glass.size }}</td>
            </tr>
            <tr>
                <th>Shape</th>
                <td>{{ glass.shape }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ glass.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('glasses_index') }}">back to list</a>

    <a href="{{ path('glasses_edit', {'id': glass.id}) }}">edit</a>

    {{ include('glasses/_delete_form.html.twig') }}
{% endblock %}
